### Start Of Default Requirements ###

# Include Flask (absolutely required to successfully work)
Flask
# Include flask's SQLAlchemy package (reccomended when doing anything with a database)
flask_sqlalchemy

### End Of Default Requirements ###

### Your Requirements Below This Line ###
psycopg2
